@import "../../../sass/variables";

.search-container {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  align-items: center;
  order: -1;
  @media only screen and (max-width: 900px) {
    margin: 3rem;
    margin: 4rem auto !important;
    flex-direction: column;

    ::ng-deep .p-multiselect {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 70%;
    }

    .searches {
      order: 1;
    }
    .search-buttons {
      order: 0;
      margin-bottom: 1rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    ::ng-deep .p-multiselect {
      width: 25rem;
      right: 0;
    }
  }

  @media only screen and (min-width: 900px) and (max-width: 1200px) {
    ::ng-deep .p-multiselect {
      width: 18rem;
      right: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    margin: 1rem;
  }
}
.search {
  color: #6c757d;
  background: $dark-blue;
  border: none !important;
  background: #282936 !important;
  font-size: $small-font !important;
  outline: 0 none !important;
  outline-offset: 0 !important;
  padding: $medium-size !important;
  &:hover {
    background: $dark-blue;
  }

  @media only screen and (max-width: 600px) {
    margin: 0 auto;
  }
}
.searches {
  @media only screen and (max-width: 900px) {
    width: 100%;
    text-align: center;
  }
}

.search-buttons {
  margin-top: 1.5rem;
}
:host {
  ::ng-deep.p-multiselect {
    border-radius: 0px !important;
  }
  text-align: center;
  border: none !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
.p-inputtext {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
  width: 100%;
  text-align: center;
  border: transparent !important;
  border-radius: 0 !important;
  @media screen and(max-width:900px) {
    width: 70%;
  }
}
span[class^="p-input-icon-"] {
  & > i {
    margin-top: -0.9rem;
  }
  & > .right {
    right: 1rem !important;
  }
  & > .left {
    left: 1rem !important;
  }
  .pi-times-circle {
    cursor: pointer !important;
  }
}
.input-search-container {
  margin-bottom: 1.5rem;
  @media screen and (max-width: 900px) {
    margin-top: 6rem;
  }
}
