<form
  [hidden]="(isLoading$ | async)"
  class="search-container"
  [formGroup]="searchForm"
  (keydown.enter)="search($event)"
>
  <div class="searches">
    <div class="input-search-container">
      <span class="p-input-icon-left">
        <i class="pi pi-search left"></i>

        <i class="pi pi-times-circle right" (click)="clearInputSearch()"></i>
        <input formControlName="name" pInputText placeholder="Search..." />
      </span>
    </div>

    <ng-container *ngFor="let search of filterSearches">
      <p-multiSelect
        [formControlName]="search?.name!"
        [options]="(search?.options$ | async) || []"
        [selectionLimit]="search?.selectionLimit!"
        [showToggleAll]="false"
        [resetFilterOnHide]="true"
        [maxSelectedLabels]="1"
        [showHeader]="search?.showHeader!"
        [defaultLabel]="search?.placeholder!"
        optionLabel="name"
      ></p-multiSelect>
    </ng-container>
    <div class="search-buttons">
      <button
        class="search"
        pButton
        pRipple
        label="Clear All"
        icon="pi pi-times-circle"
        iconPos="right"
        (click)="reset()"
      ></button>
      <button
        (click)="search()"
        class="search"
        pButton
        pRipple
        label="Search"
        icon="pi pi-search"
        iconPos="right"
      ></button>
    </div>
  </div>
</form>
