@import "./app/sass/variables";
@import "./app/sass/shared";
@import "./app/sass/components/index";
@import "./app/sass/mixins";
html {
  font-size: $default-font-size;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

body {
  background-color: $primary;
  color: $white;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 998;
}
