<router-outlet>
  <app-navbar *ngIf="isAuth$ | async"></app-navbar>
  <div class="small-spinner" *ngIf="isLoading$ | async">
    <i class="pi pi-spin pi-spinner" style="font-size: 10rem !important;"></i>
  </div>
  <p-toast></p-toast>
</router-outlet>
