@import "../variables";

.p-accordion p-accordiontab .p-accordion-tab {
  font-size: 2rem !important;
  margin-bottom: 20px !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  box-shadow: 1px;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  border: none !important;
}

.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link,
.p-accordion
  p-accordiontab:last-child
  .p-accordion-header:not(.p-highlight)
  .p-accordion-header-link {
  background: $dark-blue !important;
  color: $white !important;

  &:focus,
  &:active {
    background: $dark-blue !important;
    color: $white !important;
    box-shadow: none;
  }
}
.p-accordion .p-accordion-content {
  background: $secondary !important;
  color: $white !important;
  border: none !important;
  padding: 3rem !important;
}
.p-accordion-header-text {
  line-height: 1.5 !important;
  margin: 0 auto;
}
