@import "../variables";
.btn.p-button.p-component {
  width: 20rem !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  margin: 5rem auto !important;
  background-color: $primary !important;
  height: 5rem;
  font-size: $large-size !important;
  border: 1px solid $light-navy !important;
  color: $light-navy;
  &:enabled:active {
    border: $light-navy;
  }
  &:hover:not([disabled]) {
    background-color: $glowing !important;
  }

  @media only screen and (max-width: 1200px) {
    &.submit {
      margin: 5rem auto !important;
    }
  }
  &.submit {
    margin: 4rem auto 1rem auto !important;
  }
}

.p-button-label {
  flex: none !important;
  margin-left: 0.5rem;
}
.p-button .p-button-icon-right {
  margin-left: $medium-size !important;
}

.p-button .p-button-icon-left {
  margin-right: $medium-size !important;
}
span.p-button-icon.p-button-icon-left.pi.pi-spin.pi-spinner {
  font-size: 2rem;
  margin-left: 2rem;
}
