@import "../variables";

p-header {
  font-size: 2.2rem;
  min-height: 6rem;
  margin-bottom: 0 !important;
  padding: 2.5rem;
  background: rgba(177, 157, 247, 0.16);
  color: white !important;
  display: flex;
}
.p-card-content {
  height: 30rem !important;
}
.p-card-shadow.p-card.p-component {
  overflow: hidden;
  border-radius: 1.5rem;
}
.p-card {
  position: relative;
  background: black !important;
}
.p-card-shadow.p-card.p-component {
  width: auto !important;
  height: max-content;
  font-size: 2rem;
}
.p-card .p-card-body,
.p-card .p-card-content {
  padding: 0 !important;
}
