@import "../variables";

.p-checkbox .p-checkbox-box {
  border: 2px solid $light-grey !important;
  background: $dark-blue !important;
  width: $large-font !important;
  height: 2rem !important;
  color: $light-white !important;
  border-radius: 6px !important;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $light-navy !important;
  background: $light-navy !important;
  margin-right: $medium-size !important;
}
