@import "../variables";
.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer {
  background: $primary !important;
  color: white !important;
}
.p-dialog:not(.p-confirm-dialog) .p-dialog-content {
  min-height: 70vh;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem !important;
  line-height: 2.5;
}
.p-dialog .p-dialog-header {
  padding: 2rem !important;
}
.p-dialog {
  width: 50rem !important;
  @media only screen and (max-width: 900px) {
    max-height: 100vh !important;
    min-height: 100vh !important;
    width: 100% !important;
  }
}
.p-component-overlay.p-dialog-top {
  background: none !important;
}
.p-confirm-dialog-message {
  font-size: 2rem !important;
}
.p-confirm-dialog.p-dialog {
  box-shadow: none !important;
  border-radius: 1rem;
  border: 2px solid $glowing;
  overflow: hidden;
}
.p-dialog-content {
  position: relative !important;
}
.p-confirm-dialog > .p-dialog .p-dialog-header,
.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer,
.p-dialog .p-dialog-header {
  box-shadow: 1px solid;
}
.p-confirm-dialog-accept,
.p-confirm-dialog-reject {
  font-size: 1.5rem !important;
  background-color: $light-navy !important;
  color: #03253e !important;
}
.p-dialog-mask.p-component-overlay {
  backdrop-filter: blur(2px);
}
