@mixin displayEntityInfo {
  .field {
    display: flex;
    flex-direction: column;

    &__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > span {
        margin-right: 2rem;
      }
    }
    &:not(:last-child):after {
      background: $dark-blue;
      content: "";
      width: 100%;
      height: 1px;
      position: relative;
    }

    span {
      font-size: 1.8rem;
      display: flex;
      margin: $medium-size $small-size;
      color: $grey;
    }

    label {
      font-size: 2rem !important;
    }
    &__image {
      width: 25rem;
      margin: 0 auto;
      margin-top: 5rem;
    }

    &__pointer::before {
      content: "👉";
      position: relative;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
