@import "../variables";

.p-inputtext {
  font-size: $small-font !important;
  color: $white !important;
  background: $dark-blue !important;
  padding: $small-size !important;
  border: 1px solid $light-grey !important;

  border-radius: $border-radius-default !important;
  &:enabled:hover {
    border-color: $light-navy !important;
  }
  &:enabled:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 1px $light-navy !important;
    border-color: $light-navy !important;
  }
  &.ng-invalid.ng-touched:focus {
    box-shadow: none !important;
  }
}
.p-inputgroup-addon {
  background: $light-grey !important;
  border: none !important;
}
