label {
  font-size: $medium-font !important;
  margin: $large-size $small-size;
  display: block;
}

label.required:after {
  color: #dc4c3f;
  content: "*";
  position: relative;
  margin-left: 5px;
}
