@import "../variables";

.p-listbox .p-listbox-list .p-listbox-item {
  margin: 0 !important;
  padding: 0.75rem 1.25rem !important;
  border: 0 none !important;
  color: $light-white !important;
  transition: box-shadow 0.2s !important;
  border-radius: 0 !important;

  &:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: inset 0 0 0 1px $light-navy !important;
  }
}
.p-listbox-list-wrapper {
  height: 22rem;
}
input.p-listbox-filter.p-inputtext.p-component {
  width: 100% !important;
}
.p-listbox {
  background: #282936 !important;
  color: $light-white !important;
  border: 1px solid #3e4053 !important;
  border-radius: 6px !important;
  font-size: $small-font !important;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  background: $secondary !important;
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
  background-color: $secondary !important;
}

.p-listbox-header {
  padding: $small-size $medium-size !important;
  border-bottom: 1px solid $dark-blue !important;
  color: $light-white !important;
  background: $primary !important;
  margin: 0 !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}

.p-listbox .p-listbox-header .p-listbox-filter-icon {
  right: $medium-size !important;
}
