@import "../variables";

.p-multiselect-list-wrapper {
  max-height: 22rem !important;
  background: $dark-blue !important;
}
.p-multiselect-panel {
  background: $primary !important;
}
.p-multiselect {
  background: $dark-blue !important;
  color: $light-white !important;
  border: 1px solid $dark-blue !important;
  border-radius: 6px !important;
  font-size: $small-font !important;
}
.p-multiselect-items {
  background: #282936 !important;
  font-size: $small-font !important;

  &:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: inset 0 0 0 1px $light-navy !important;
  }

  &.ng-invalid.ng-touched:focus {
    box-shadow: none !important;
  }
}
.p-multiselect-filter-container .p-inputtext {
  width: 95% !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: $secondary !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  color: $white !important;
}
.p-multiselect.p-multiselect-chip .p-multiselect-token {
  background: $secondary !important;
  color: $white !important;
}
.p-multiselect .p-multiselect-label {
  padding: $medium-size !important;
}

.p-multiselect-item > span {
  margin-left: $small-size;
}

.p-multiselect:not(.p-disabled)
  .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
  background-color: $secondary !important;
}

.p-multiselect-header {
  padding: $small-size $medium-size !important;
  border-bottom: 1px solid $dark-blue !important;
  color: $light-white !important;
  background: $primary !important;
  margin: 0 !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}

.p-multiselect .p-multiselect-header .p-multiselect-filter-icon {
  display: none !important;
}

span.p-multiselect-trigger-icon.pi.pi-chevron-down {
  position: absolute;
  right: 1.5rem;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
  margin-top: 0.4rem;
}
input.p-multiselect-filter.p-inputtext {
  padding: 0.5rem !important;
  padding-left: $small-size !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: none !important;
}
.p-focus {
  box-shadow: none !important;
}
