@import "../variables";

.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up,
.p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-down {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
  color: $white;
  height: 100%;

  background-color: $primary;
  &:hover {
    background-color: $light-navy;
    color: $dark-blue;
  }
  &:enabled:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
  }
}
.p-button {
  border: 1px solid $light-grey !important;
}
.p-inputnumber-buttons-stacked .p-inputnumber-input {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  text-align: center !important;
  font-weight: bold;
}
.p-fluid .p-inputnumber {
  caret-color: transparent !important;
  width: 15rem !important;

  // @media only screen and (max-width: 928px) {
  //   width: 15rem !important;
  // }

  // @media only screen and (max-width: 1200px) {
  //   width: 20rem !important;
  // }

  // @media only screen and (max-width: 1400px) {
  //   width: 22rem !important;
  // }
}
