@import "../variables";
.p-menu.p-menu-overlay {
  font-size: 1.8rem;
  background: $dark-blue !important;
}
.p-menu .p-menuitem-link:focus {
  box-shadow: none !important;
}
.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: transparent !important;
}
.p-menu .p-menuitem-link .p-menuitem-text {
  color: white !important;
  &:hover {
    color: $dark-navy !important;
  }
}
