@import "../variables";

.p-paginator {
  background: transparent !important;
  margin: calc(2 * #{$large-size}) auto;
  padding-bottom: 3rem !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  &.p-highlight {
    background: $dark-blue !important;
    color: $dark-navy !important;
  }
  background: transparent !important;
  font-size: 2rem;
  padding: 1.5rem;
  @media only screen and (max-width: 600px) {
    padding: 1.4rem;
  }
}
.p-link:focus {
  box-shadow: none !important;
}

.p-paginator > *:hover {
  background: transparent !important;
}
.p-paginator-element:not(.p-disabled) {
  color: white !important;
}
