@import "../variables";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $dark-blue;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
