@import "../variables";

.p-selectbutton .p-button.p-highlight {
  background: $light-navy !important;
  border-color: $light-navy !important;
  color: $dark-blue !important;
  text-align: center;
}

.p-buttonset .p-button:first-of-type {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.p-selectbutton .p-button {
  background: $dark-blue !important;
  border: 1px solid $light-grey !important;
  color: $light-white !important;

  padding: $small-size !important;
  font-size: $large-size !important;
  overflow: hidden;
}
.p-fluid .p-buttonset .p-button {
  flex: 1 !important;
}

.p-button:focus {
  box-shadow: none !important;
}
span.p-button-label.ng-star-inserted {
  display: block;
  margin: 0 auto;
}
