// @import "../variables";

// .p-tabview.p-component {
//   font-size: 2rem;
// }
// .p-tabview .p-tabview-panels {
//   background: $primary !important;
//   color: $white !important;
// }

// .p-tabview .p-tabview-nav {
//   font-size: 3rem;
//   background: $primary !important;
//   display: flex;
//   justify-content: center;
//   border: none !important;
// }
// .p-tabview-title {
//   line-height: 7rem !important;
// }

// .p-tabview .p-tabview-panels {
//   // margin-top: 5rem !important;
// }
// .p-tabview .p-tabview-nav li {
//   margin-right: 1rem !important;
// }
// .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
// .p-tabview .p-tabview-nav li .p-tabview-nav-link {
//   background: transparent !important;
//   &:focus,
//   &:active {
//     background: transparent !important;
//   }
// }
// .p-tabview
//   .p-tabview-nav
//   li:not(.p-highlight):not(.p-disabled):hover
//   .p-tabview-nav-link {
//   color: $white !important;
// }

// .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
//   box-shadow: none !important;
// }
// p-tabview {
//   width: 100% !important;
// }
