.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  font-size: 1.7rem;
}
.p-toast-message {
  width: 30rem !important;
  right: 1.5rem !important;
  position: absolute;
  padding: 1rem;
}
