@import "../variables";
.p-toolbar {
  background: rgba(#08101d, 0.7) !important;
  border: none !important;
  overflow: hidden !important;
  padding: $large-size !important;
  position: sticky;
  width: 100vw;
  height: 7.2rem;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
}
