@import "../variables";
.p-tooltip-text {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: max-content;
}
.p-tooltip {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 4rem;
  font-size: 2rem !important;
}
