.p-tree .p-tree-filter-container .p-tree-filter {
  width: 100% !important;
}
.p-tree-filter-icon {
  margin-top: -0.7rem !important;
  position: absolute !important;
  top: 50% !important;
  right: 15px !important;
}
