<ng-container *ngIf="formLoaded; else spinner">
  <form class="p-fluid container" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="flex">
      <label class="required" for="name">Exercise Name</label>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('name')?.valid && this.exerciseForm.get('name')?.touched)"
      >
      </app-field-error-display>
    </div>
    <input type="text" pInputText formControlName="name" />

    <div class="flex">
      <label class="required" for="name">Difficulty Level</label>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('difficultyLevel')?.valid && this.exerciseForm.get('difficultyLevel')?.touched)"
      >
      </app-field-error-display>
    </div>
    <p-selectButton [options]="difficulties" formControlName="difficultyLevel" optionLabel="name"></p-selectButton>

    <div class="flex">
      <label class="required" for="name">Muscle Group</label>

      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('muscleGroup')?.valid && this.exerciseForm.get('muscleGroup')?.touched)"
      >
      </app-field-error-display>
    </div>
    <p-listbox [options]="(muscleGroups$ | async) || []" formControlName="muscleGroup" optionLabel="name"></p-listbox>

    <div class="muscles" formGroupName="muscles">
      <div class="flex">
        <label class="required">Primary Muscles</label>
        <app-field-error-display
          [displayError]="!!(!exerciseForm.get('muscles.primary')?.valid && this.exerciseForm.get('muscles.primary')?.touched)"
        >
        </app-field-error-display>
      </div>

      <p-multiSelect
        [options]="this.primaryMuscles"
        [showToggleAll]="false"
        formControlName="primary"
        defaultLabel="Select Muscles"
        optionLabel="name"
        optionDisabled="inactive"
        display="chip"
      ></p-multiSelect>

      <div class="flex">
        <label>Seconadary Muscles</label>
        <app-field-error-display
          [displayError]="!!(!exerciseForm.get('muscles.secondary')?.valid && this.exerciseForm.get('muscles.secondary')?.touched)"
        >
        </app-field-error-display>
      </div>

      <p-multiSelect
        [options]="this.secondaryMuscles"
        [showToggleAll]="false"
        formControlName="secondary"
        defaultLabel="Select Muscles"
        optionLabel="name"
        optionDisabled="inactive"
        display="chip"
      ></p-multiSelect>
      <div></div>
    </div>

    <div class="flex instruction">
      <label class="required">Instructions</label>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('instructions')?.valid && this.exerciseForm.get('instructions')?.touched)"
      >
      </app-field-error-display>
      <div class="icons">
        <span *ngIf="exerciseInstructions.controls.length > 1" (click)="deleteInstruction()"
          ><i class="pi pi-minus"></i
        ></span>
        <span><i class="pi pi-plus" (click)="addInstruction()"></i></span>
      </div>
    </div>
    <div class="text-instruction">
      <ng-container formArrayName="instructions">
        <div *ngFor="let instruction of exerciseInstructions.controls; index as i;">
          <div class="flex" style="align-items: center;">
            <span class="pointer">👉</span>
            <input class="instruction-textarea" [formControlName]="i" type="text" pInputText />
          </div>
        </div>
      </ng-container>
    </div>

    <div class="flex">
      <label class="required" for="video">Link to a video</label>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('video')?.valid && this.exerciseForm.get('video')?.touched) && exerciseForm.get('video')?.errors?.required"
      >
      </app-field-error-display>

      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('video')?.valid && this.exerciseForm.get('video')?.touched) && exerciseForm.get('video')?.errors?.pattern"
        errorMsg="Invalid video url"
      >
      </app-field-error-display>
    </div>
    <input id="video" type="text" pInputText formControlName="video" />

    <div class="flex">
      <label class="required" for="image">Link to active muscles image</label>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('image')?.valid && this.exerciseForm.get('image')?.touched) && exerciseForm.get('image')?.errors?.required"
      >
      </app-field-error-display>
      <app-field-error-display
        [displayError]="!!(!exerciseForm.get('image')?.valid && this.exerciseForm.get('image')?.touched) && exerciseForm.get('image')?.errors?.pattern"
        errorMsg="Invalid image url"
      >
      </app-field-error-display>
    </div>
    <input id="image" type="text" pInputText formControlName="image" />

    <button
      class="btn submit"
      pRipple
      [disabled]="this.formMode === 'Edit' && exerciseForm.pristine"
      pButton
      pRipple
      label="{{this.formMode}} Exercise"
      icon="pi pi-pencil"
      iconPos="left"
      type="submit"
    ></button>
  </form>
</ng-container>
<ng-template #spinner>
  <div class="small-spinner form-spinner">
    <i class="pi pi-spin pi-spinner" style="font-size: 7rem !important;"></i>
  </div>
</ng-template>
