@import "../../../../sass/variables";

.container {
  display: block;
  margin: 0 auto;
  padding: $medium-size;
  padding: 0 1.2rem;
  @media only screen and (max-width: 1200px) {
    min-height: 82rem;
  }
}

.country-item {
  margin-left: $small-size;
}
.p-field {
  &__textarea {
    height: 20rem;
  }
}
.training-quantity {
  @media only screen and (min-width: 1200px) {
    flex-wrap: no-wrap;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &__numeric {
    @media only screen and (max-width: 1200px) {
      display: block;
    }
  }
}

::ng-deep span.p-button-icon.p-button-icon-left.pi.pi-pencil {
  font-size: 1.5rem;
  margin-left: 2rem;
}
.instruction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  cursor: pointer;
  flex: 1;
  text-align: right;
  & > span:not(:last-child) {
    margin-right: 1.5rem;
  }
}
.text-instruction {
  border: 1px solid #3e4053 !important;
  border-radius: $border-radius-default;
}
.pointer {
  font-size: 1.5rem;
  margin-left: 2px;
}
.instruction-textarea {
  height: max-content;
  background: transparent !important;
  border: none !important;
  display: flex;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.3rem;

  &:hover {
    cursor: pointer;
  }
}
