@import "../../variables";

.loginSignUP {
  display: flex;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;

  &__login {
    color: $white;
    padding: 2rem;
    font-size: large;
    align-self: center;
  }

  &__username {
    margin-bottom: 1.3rem;
  }

  &__password {
    margin-bottom: 1.3rem;
  }
}
