<div class="p-fluid container">
  <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()" autocomplete="off" *ngIf="formLoaded; else spinner">
    <div class="flex">
      <label class="required" for="name">Training Name</label>
      <app-field-error-display
        [displayError]="!!(!trainingForm.get('name')?.valid && this.trainingForm.get('name')?.touched)"
      >
      </app-field-error-display>
    </div>
    <input id="name" type="text" pInputText formControlName="name" />

    <div class="flex">
      <label class="required" for="name">Difficulty Level</label>
      <app-field-error-display
        [displayError]="!!(!trainingForm.get('difficultyLevel')?.valid && this.trainingForm.get('difficultyLevel')?.touched)"
      >
      </app-field-error-display>
    </div>
    <p-selectButton [options]="difficulties" formControlName="difficultyLevel" optionLabel="name"></p-selectButton>

    <div class="flex">
      <label class="required" for="name">Exercises</label>
      <app-field-error-display
        [displayError]="!!(!trainingForm.get('muscleGroupExercises')?.valid && this.trainingForm.get('muscleGroupExercises')?.touched)"
      >
      </app-field-error-display>
    </div>

    <p-tabView orientation="right" formArrayName="muscleGroupExercises">
      <ng-container *ngFor="let fg of muscleGroupExercises.controls; index as i;" [formGroupName]="i">
        <p-tabPanel [header]="fg.get('group')?.value">
          <p-listbox
            formControlName="exercises"
            class="exercises"
            [options]="fg.get('group')?.value | listBoxOptions: this.mgExercises"
            [showToggleAll]="false"
            [checkbox]="true"
            defaultLabel="Select Muscles"
            optionLabel="name"
            optionDisabled="inactive"
            [filter]="true"
            [multiple]="true"
          ></p-listbox>
        </p-tabPanel>
      </ng-container>
    </p-tabView>

    <div class="flex">
      <label class="required" for="video">Link to a video</label>
      <app-field-error-display
        [displayError]="!!(!trainingForm.get('video')?.valid && this.trainingForm.get('video')?.touched) && trainingForm.get('video')?.errors?.required"
      >
      </app-field-error-display>

      <app-field-error-display
        [displayError]="!!(!trainingForm.get('video')?.valid && this.trainingForm.get('video')?.touched) && trainingForm.get('video')?.errors?.pattern"
        errorMsg="Invalid video url"
      >
      </app-field-error-display>
    </div>
    <input id="video" type="text" pInputText formControlName="video" />

    <button
      class="btn submit"
      pRipple
      [disabled]="this.formMode === 'Edit' && trainingForm.pristine"
      pButton
      pRipple
      label="{{this.formMode}} Training"
      icon="pi pi-pencil"
      iconPos="left"
      type="submit"
    ></button>
  </form>
</div>

<ng-template #spinner>
  <div class="small-spinner form-spinner">
    <i class="pi pi-spin pi-spinner" style="font-size: 7rem !important;"></i>
  </div>
</ng-template>
