@import "../../../../sass/variables";

:host {
  ::ng-deep .p-tabview-nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    flex: 1.5 !important;
  }
  ::ng-deep.p-tabview.p-component {
    display: flex;
    border: 1px solid #3e4053 !important;
    overflow: hidden;
    min-height: 25rem !important;
  }
  ::ng-deep.p-tabview .p-tabview-panels {
    padding: 0;
  }
  ::ng-deep.p-listbox-list-wrapper {
    height: 22rem;
  }
  ::ng-deep.p-listbox.exercises {
    border: none !important;
    border-left: 1px solid #3e4053 !important;
  }

  ::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: none !important;
    background: $primary !important;
  }
  ::ng-deep.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
  ::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: transparent !important;
    &:focus,
    &:active {
      background: transparent !important;
    }
  }

  ::ng-deep.p-tabview .p-tabview-nav {
    background: transparent;
    border: none;
    flex: 1.5;
    align-items: center;
  }
  ::ng-deep.p-tabview
    .p-tabview-nav
    li:not(.p-highlight):not(.p-disabled):hover
    .p-tabview-nav-link {
    color: $white !important;
  }

  ::ng-deep.p-tabview
    .p-tabview-nav
    li
    .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none !important;
  }

  ::ng-deep.p-tabview .p-tabview-panels {
    background: $primary !important;
    color: $white !important;
    flex: 2;
  }
}
.container {
  @media only screen and (max-width: 900px) {
    min-height: 86.6vh !important;
  }
}
