@import "../../../../sass/variables";
@import "../../../../sass/mixins";
:host {
  .table-container {
    padding: 4rem;
    // margin-top: 5rem;
    font-size: 2rem;
    // todo remove this when using navbar
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  @include addBtn;
}
