<button (click)="addTraining()" class="btn add-entity" pButton pRipple icon="pi pi-plus"></button>
<app-filtered-search [filterSearches]="filteredSearches" [resourse]="Resourse.training"></app-filtered-search>
<app-entity-display
  (entityDeleted)="deleteTraining($event)"
  (entityEdited)="editTraining($event)"
  (entityDisplayed)="displayTrainingInfo($event)"
  (pageChanged)="fetchNextPage($event)"
  [resourse]="Resourse.training"
  [pageResult]="trainingsPage$ | async"
></app-entity-display>
