@import "../../sass/variables";

.graph-container {
  // ::ng-deep text {
  //   font-size: 2rem;
  // }

  width: 80%;
  // margin: 10rem auto;
  & {
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
h1 {
  text-align: center;
  margin: 5rem auto;
  font-size: 3rem;
  &::after {
    content: "";
    top: 3px;
    position: relative;
    width: 30rem;
    height: 0.5px;
    margin: 0 auto;
    display: block;
    background: $secondary;
  }
}
:host {
  ::ng-deep text {
    font-size: 1.5rem;
    // transform: rotate(-90deg);
  }
}
