<div class="navlinks">
  <nav (click)="closeMenu()" routerLink="/exercises" routerLinkActive="active">Exercises</nav>
  <nav (click)="closeMenu()" routerLink="/trainings" routerLinkActive="active">Trainings</nav>
  <nav (click)="closeMenu()" routerLink="/graphs" routerLinkActive="active">Graphs</nav>
  <nav (click)="logout()">Logout</nav>
</div>
