@import "../../../../app/sass/variables";
@import "../../../../app/sass/mixins";

.navlinks {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
  bottom: 15rem;
  font-weight: bold;

  & > nav {
    position: relative;
    @include hoverResizingUnderline(5);
  }

  & > nav:not(:last-child) {
    margin-bottom: 5rem;
    outline: none;
    box-shadow: none !important;
  }
}

nav {
  cursor: pointer;
}
nav:active,
nav:focus {
  outline: none;
}
