@import "../../mixins";
// .dialog-window {
//   @include responsiveWidth($max-width: 800px, $width: 100%);
//   @include responsiveWidth($min-width: 800px, $max-width: 1100px, $width: 100%);
// }
.share-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__description {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__training-name {
    color: white;
  }
}
