@import "../../variables";
@import "../../mixins";

.search {
  widows: 40%;
  padding-bottom: 2rem;
}

.customPost {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #aab8d11a;
  // margin-bottom: 2rem;
  width: 40%;
  & {
    @include responsiveWidth($max-width: 600px, $width: 100%);
    @include responsiveWidth($min-width: 600px, $max-width: 1200px, $width: 80%);
    @include responsiveWidth($min-width: 1200px, $max-width: 1400px, $width: 50%);
    @include responsiveWidth($min-width: 1400px, $max-width: 1600px, $width: 40%);
  }
  margin: 0 auto;
  border-radius: 30px;
  border: 3px solid #f50057;
  margin-bottom: 60px;
  margin-top: 10px;
  &__btn,
  &__difficulty {
    display: flex;
    font-family: "PT Sans", sans-serif;
    color: white;
    font-size: 1.8ex;
  }

  &__header {
    color: $white;
    margin-bottom: 1rem !important;
  }

  &__likesAndDifficult {
    display: flex;
    // width: 640px;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
  &__video {
    margin: 0 auto;
    height: 30rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.customTraining {
  background-color: #282936 !important;
}

.tabColor {
  color: $white;
}
