@import "../../../mixins";
.container {
  margin: 0 auto;
  width: 40%;
  & {
    @include responsiveWidth($max-width: 800px, $width: 100%);
    @include responsiveWidth($min-width: 800px, $max-width: 1100px, $width: 80%);
    @include responsiveWidth($min-width: 1100px, $max-width: 1400px, $width: 50%);
    @include responsiveWidth($min-width: 1400px, $max-width: 1600px, $width: 40%);
  }
}
.alert {
  display: flex;
  position: sticky;
  width: 18rem;
  height: 3.5rem;
  top: 0;
  float: right;
  z-index: 1000 !important;
}
.Post {
  display: flex;
  flex-direction: column;
  // align-items: center;
  border-radius: 30px;
  border: 3px solid #f50057;
  // background-color: #abd1aa;
  margin: 3rem 1rem;
  // margin-left: 20%;
  // margin-right: 20%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #2527251a;
}
.Post-user-avatar {
  width: 30px;
  height: 30px;
}
.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #fff;
}
.Post-image-bg {
  background-color: #16151507;
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%);
}
.post-header-text-and-edit {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.post-name {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: #fff;
  margin-bottom: 1rem !important;
}

.Post-image img {
  display: block;
  width: 100%;
}
.post-editing {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  justify-content: space-between;
}
.icon {
  margin: 2px 2px 20px 2px;
}

.icon:hover {
  border: 2px solid #c02020;
  border-radius: 50px;
  box-shadow: 0 0 15px #bc2a8d;
  // transition: all 0.5s ease;
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.1s ease;
}
.post-video-player {
  margin: 0 auto;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Post-caption {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}
.Post-user-description {
  // left: 20px;
  color: white;
}
.post-description {
  font-family: "PT Sans", sans-serif;
  font-size: 1.8ex;
}

// .Post-caption strong {
//   font-family: "PT Sans", sans-serif;
// }
.post-likes {
  display: flex;
  align-items: flex-start;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}
