@import "../../variables";

.root {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  background-color: $light-grey;
}

.tabColor {
  color: $white;
}
