//colors
$primary: #282936;
$secondary: rgba(177, 157, 247, 0.16);
$light-navy: #00c8ff;
$dark-navy: #2196f3;
$white: #fff;
$light-white: rgba(255, 255, 255, 0.87);
$dark-blue: #1d1e27;
$light-grey: #3e4053;
$glowing: rgba(0, 200, 255, 0.16);
$error-label: #dc4c3f;

$default-font-size: 10px;
$font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$border-radius-default: 1rem;
//inputs
$input-width: 40%;

// fonts
$small-font: 1.5rem;
$medium-font: 1.75rem;
$large-font: 2rem;

// sizes
$small-size: 0.75rem;
$medium-size: 1.2rem;
$large-size: 1.75rem;
