@import "./_variables";

body {
  background-color: $primary;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $dark-blue;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
