@import "../../../variables";

.myTrainingsRoot {
  flex-grow: 1;
  width: 100%;
  margin-top: 1rem;
  background-color: $light-grey;
}

.myTrainingsFlexContainer {
  justify-content: space-between;
  background-color: $light-grey;
}

.tabColor {
  color: $white;
}

/////////////
.accordionsRoot {
  width: 100%;

  &__custom {
    background-color: #7b718773 !important;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__heading {
      font-size: 1rem;
      font-weight: 100;
      color: $white;
    }

    &__details {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 15rem;

      &__exercise {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
  }
}

.paperWidthSm {
  max-width: 65rem !important;
  background-color: #3b393f !important;
}

.spanHover {
  color: $white;
  &:hover {
    cursor: pointer;
  }
}
