@mixin hoverResizingUnderline($top) {
  &::after {
    content: "";
    height: 3px;
    background: $dark-navy;
    position: absolute;
    top: #{$top}rem;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
    background: $dark-navy;
  }
}

@mixin responsiveWidth($min-width: 0px, $max-width: 1920px, $width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    width: $width;
  }
}

@mixin addBtn {
  ::ng-deep .p-button-label {
    margin: 0 !important;
  }

  ::ng-deep .btn.p-button.p-component:hover:not([disabled]) {
    background-color: $dark-navy !important;
  }
  .add-entity {
    width: 6rem !important;
    height: 6rem !important;
    border-radius: 50%;
    margin: 0 !important;
    position: absolute;
    left: 3rem;
    top: 10rem;
    background: rgba(8, 16, 29, 0.7) !important;
    color: white;
    border: 1px solid $dark-blue !important;

    @media screen and (max-width: 900px) {
      width: 4.5rem !important;
      height: 4.5rem !important;
      left: 2rem;
      ::ng-deep span.p-button-icon.pi.pi-plus {
        font-weight: bolder;
        font-size: 1.2rem !important;
      }
    }
  }

  ::ng-deep span.p-button-icon.pi.pi-plus {
    font-weight: bolder;
    font-size: 1.5rem !important;
  }
}
