.flex {
  display: flex;
  position: relative;
}
.small-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.form-spinner {
    top: 40%;
  }
}

.p-input-icon-left,
.p-input-icon-right {
  display: inline !important;
}
a {
  cursor: pointer;
}
nav.active,
a.active {
  color: $dark-navy !important;
}
