@import "../../../../sass/variables";

.graph-container {
  width: 80%;
  // margin: 10rem auto;
  & {
    @media screen and (max-width: 1800px) {
      width: 100%;
      ::ng-deep text {
        font-size: 1rem;
        transform: rotate(-15deg);
      }
    }
    @media screen and (min-width: 900px) and (max-width: 1300px) {
      ::ng-deep text {
        font-size: 1rem;
      }
    }

    @media screen and (min-width: 1300px) and (max-width: 1800px) {
      ::ng-deep text {
        font-size: 1.5rem;
        transform: rotate(-5deg);
      }
    }
  }
}
h1 {
  text-align: center;
  margin: 5rem auto;
  font-size: 3rem;
  &::after {
    content: "";
    top: 3px;
    position: relative;
    width: 30rem;
    height: 0.5px;
    margin: 0 auto;
    display: block;
    background: $secondary;
  }
}
:host {
  ::ng-deep text {
    font-size: 1.5rem;
    // transform: rotate(-90deg);
  }
}
