@import "../../../sass/variables";
@import "../../../sass/mixins";

.container {
  display: flex;

  flex-direction: column;
  padding: 4rem;
  margin: 0 auto;
  width: 25%;
  margin-top: 10rem;
  @include responsiveWidth($max-width: 600px, $width: 100%);
  @include responsiveWidth($min-width: 600px, $max-width: 900px, $width: 80%);
  @include responsiveWidth($min-width: 900px, $max-width: 1400px, $width: 50%);
  @include responsiveWidth($min-width: 1400px, $max-width: 1600px, $width: 40%);
  & > input {
    text-align: center;
    color: $grey !important;
  }
}

.header {
  text-align: center;
  font-size: 3rem !important;
  margin-bottom: 2rem;
  line-height: 2;
  &::after {
    content: "";
    top: 1px;
    position: relative;
    width: 50%;
    height: 0.5px;
    margin: 0 auto;
    display: block;
    background: $secondary;
  }
}
