<ng-container *ngIf="!(isLoading$ |async);">
  <form #loginForm="ngForm" class="container" autocomplete="off" (ngSubmit)="submitForm(loginForm)">
    <label class="header">Admin Login</label>

    <label>Username</label>

    <input type="text" pInputText [(ngModel)]="username" name="username" required />

    <label>Password</label>

    <input id="password" type="password" pInputText [(ngModel)]="password" name="password" required />

    <button
      class="btn submit"
      label="Login"
      pRipple
      pButton
      pRipple
      icon="pi pi-sign-in"
      iconPos="left"
      type="submit"
    ></button>
  </form>
</ng-container>
