<div class="field">
  <div class="field__data">
    <label for="name">Muscle Group</label>
    <span>{{this.dataToDisplay.muscleGroup.name}}</span>
  </div>
</div>

<div class="field">
  <div class="field__data">
    <label>{{this.dataToDisplay.muscles.secondary.length ? "Primary Muscles" : "Muscles"}}</label>
    <div class="field__muscles">
      <span *ngFor="let muscle of this.dataToDisplay.muscles.primary">{{muscle.name}}</span>
    </div>
  </div>
</div>

<div class="field" *ngIf="this.dataToDisplay.muscles.secondary.length">
  <div class="field__data">
    <label>Seconadary Muscles</label>
    <div class="field__muscles">
      <span *ngFor="let muscle of this.dataToDisplay.muscles.secondary">{{muscle.name}}</span>
    </div>
  </div>
</div>

<div class="field">
  <div class="field__data">
    <label for="name">Difficulty Level</label>
    <span>{{this.dataToDisplay.difficultyLevel | difficulty}}</span>
  </div>
</div>

<div class="field" *ngIf="this.dataToDisplay.instructions.length">
  <label>Instructions</label>
  <ng-container *ngFor="let instruction of this.dataToDisplay.instructions">
    <span class="field__pointer">{{instruction.trim()}}</span>
  </ng-container>
</div>

<div class="field" style="position: relative;">
  <img class="field__image" (load)="isLoadingImg = false" [src]="this.dataToDisplay.image" alt="exercise_img" />
  <div *ngIf="isLoadingImg" class="small-spinner form-spinner">
    <i class="pi pi-spin pi-spinner small-spinner" style="top: 0; font-size: 5rem !important;"></i>
  </div>
</div>
