@import "../../../../sass/variables";
@import "../../../../sass/components/entity-info";

@include displayEntityInfo();

.field {
  &__muscles {
    display: flex;
    flex-direction: column;
    & > span {
      margin: $medium-size $small-size;
      justify-content: flex-end;
    }
  }
}
.field__image {
  width: 25rem;
  margin: 0 auto;
  height: 25rem;
  padding: 2rem;
}
