<button (click)="addExercise()" class="btn add-entity" pButton pRipple icon="pi pi-plus"></button>
<app-filtered-search [filterSearches]="filteredSearches" [resourse]="Resourse.exercise"></app-filtered-search>
<app-entity-display
  (entityDeleted)="deleteExercise($event)"
  (entityEdited)="editExercise($event)"
  (entityDisplayed)="displayExerciseInfo($event)"
  (pageChanged)="fetchNextPage($event)"
  [resourse]="Resourse.exercise"
  [pageResult]="exercisesPage$ | async"
></app-entity-display>
