@import "../../../../variables";
@import "../../../../mixins";
.excercise {
  // & {
  //   @include responsiveWidth($max-width: 600px, $width: 100%);
  //   @include responsiveWidth(
  //     $min-width: 600px,
  //     $max-width: 1200px,
  //     $width: 80%
  //   );
  // }
  padding: 2rem;
  background-color: #6678981a;
  margin-bottom: 2rem;

  &__diffcultLevel {
    margin-right: 1%;
    font-size: 1.1rem;
    color: $white;
  }

  &__details {
    display: flex;
    flex-direction: column;

    &__name {
      font-size: 1.5rem;
      padding: 1rem;
      color: $white;
    }

    &__picVideo {
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      @media only screen and (max-width: 1149px) {
        flex-direction: column;
      }
    }

    &__player {
      width: 41rem;
      height: 23rem;

      @media only screen and (max-width: 909px) {
        width: 30rem;
      }

      @media only screen and (max-width: 730px) {
        width: 25rem;
      }

      @media only screen and (max-width: 647px) {
        width: 20rem;
      }

      @media only screen and (max-width: 525px) {
        width: 15rem;
      }
    }

    &__instruction {
      margin-bottom: 1rem;

      &__header {
        font-size: 1.2rem;
        color: $white;
      }

      &__details {
        display: flex;
        flex-direction: column;
        border: 1px solid #84879b;
        border-radius: $border-radius-default;

        &__pointer {
          color: $white;
          margin-left: 0.5rem;
        }
      }
    }

    &__muscles {
      &__primary {
        display: flex;

        &__header {
          margin-right: 1%;
          font-size: 1.1rem;
          color: $white;
        }

        &__muscles {
          display: flex;
          flex: 1;

          &__each {
            margin-right: 1%;
            color: cornflowerblue;
          }

          &__each:hover {
            cursor: pointer;
          }
        }
      }

      &__secondary {
        display: flex;

        &__header {
          margin-right: 1%;
          font-size: 1.1rem;
          color: $white;
        }

        &__muscles {
          display: flex;
          flex: 1;

          &__each {
            margin-right: 1%;
            color: cornflowerblue;
          }

          &__each:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__button {
    margin-top: 1rem;
  }
}

.addTraining {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__formControl {
    margin: 1;
    min-width: 120;
    width: 26rem;
  }
}

.muslceDecription {
  &__header {
    color: $white;
  }

  &__content {
    color: $white;
  }
}
