@import "../variables";

.likes {
  display: flex;

  // align-items: flex-start;
  &__color {
    color: $white;
    padding-top: 0.4rem;
  }
  &__button {
    // display: flex;
    // align-items: flex-start;
    // background-color: red !important;
    // right: 1rem;
  }
}
