<p-toolbar>
  <div class="p-toolbar-group-left">
    <!-- <app-search-input></app-search-input> -->
  </div>

  <div class="p-toolbar-group-right">
    <i class="pi pi-bars hamburger" (click)="openMenu()"></i>

    <ul class="navlinks">
      <li><a routerLink="/exercises" routerLinkActive="active">Exercises</a></li>
      <li><a routerLink="/trainings" routerLinkActive="active">Trainings</a></li>
      <li><a routerLink="/graphs" routerLinkActive="active">Graphs</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
    <span class="avatar">
      <a routerLink="/">{{userInitials}}</a>
    </span>
  </div>
</p-toolbar>
