@import "../../../sass/variables";
@import "../../../sass/mixins";

.hamburger {
  display: none;
}

.avatar {
  display: flex;
  margin-left: 4rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: $grey;
  position: relative;
  right: 1rem;
  color: $dark-blue;
  font-size: 1.4rem;
  font-weight: bold;
  & > span {
    transform: scaleY(1.2);
  }
  & > a {
    text-decoration: none;
    color: $dark-blue;
  }
}

.navlinks {
  list-style: none;
  display: flex;
  font-size: 2rem;

  & > li > a {
    text-decoration: none;
    color: white;
    margin: 2rem;
    position: relative;
    @include hoverResizingUnderline(3);
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    flex: 1;
    right: 3rem;
    position: absolute;
    font-size: 3rem !important;
    cursor: pointer;
  }

  .navlinks,
  .avatar {
    display: none !important;
  }
}
