@import "../../../variables";

.personalCustomizationRoot {
  flex-grow: 1;
  background-color: $light-grey;
  display: flex;
  margin-top: 1rem;
  height: 80vh;
}

.indicator {
  background-color: #3f51b5;
}

.tabs {
  border-right: 1px solid;
}

.tabColor {
  color: $white;
}
