@import "../../../sass/variables";

.entities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, max-content));
  grid-gap: 5rem;
  justify-content: center;
  padding: 4rem;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}
.header {
  &__name {
    margin-right: 2rem;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 30rem;
    font-size: 2rem;
  }
  justify-content: space-between;
  &__info > * {
    font-size: 2rem !important;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
i.pi.pi-trash {
  color: red;
}
i.pi.pi-pencil {
  color: yellow;
}
i.pi.pi-info-circle {
  color: cyan;
}

.no-results {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;
  background: rgba($dark-blue, 0.4);
  display: flex;
  border-radius: 1rem;

  @media only screen and (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    height: 50rem;
    background: none;
  }
  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  @media only screen and (min-width: 700px) and (max-width: 900px) {
    width: 80%;
  }

  @media only screen and (min-width: 900px) {
    width: 70%;
  }

  &__title {
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: whitesmoke;
    @media only screen and (max-width: 900px) {
      font-size: 3rem;
    }
  }

  &__note {
    color: #a8a8a8;
    font-size: 2rem;
  }

  &__image {
    content: url("../../../../assets/undraw_not_found_60pq.svg");
    width: 40rem;
    height: 40rem;
    @media only screen and (max-width: 700px) {
      width: 25rem;
      height: 25rem;
    }
    @media only screen and (min-width: 700px) and (max-width: 1400px) {
      width: 30rem;
      height: 30rem;
    }
  }
  & > span {
    display: block;
    margin: 0 auto;
  }
  .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7rem;
    @media only screen and (max-width: 1400px) {
      margin: 0;
    }
    @media only screen and (min-width: 1400px) and (max-width: 1700px) {
      margin: 3rem;
    }
  }
}
.add-entity-btn {
  background-color: red !important;
}
