<div class="entities">
  <ng-container *ngFor="let entity of pageResult?.entities?.slice(0,6)">
    <p-card styleClass="p-card-shadow">
      <p-header class="header">
        <span [pTooltip]="entity.name" tooltipPosition="top" class="header__name">{{entity.name}}</span>
        <div class="header__options">
          <span class="header__info">
            <i class="pi pi-info-circle" (click)="emitDisplayInfo(entity)"></i>
            <i class="pi pi-pencil" (click)="emitEdit(entity)"></i>
            <i class="pi pi-trash" (click)="emitDelete(entity)"></i>
          </span>
        </div>
      </p-header>

      <div class="small-spinner" *ngIf="isLoadingVideo">
        <i class="pi pi-spin pi-spinner" style="font-size: 5rem !important;"></i>
      </div>

      <iframe
        [src]="entity.sanitizedVideoToDisplay"
        (load)="isLoadingVideo=false;"
        width="100%"
        height="100%"
        frameborder="0"
      ></iframe>
      <p-confirmDialog [baseZIndex]="1" [position]="'top'"></p-confirmDialog>
    </p-card>
  </ng-container>
</div>

<p-paginator
  #paginator
  [hidden]="!pageResult?.entities?.length"
  [rows]="6"
  [totalRecords]="pageResult?.totalFilteredRecords!"
  [pageLinkSize]="5"
  (onPageChange)="getNextPage($event)"
></p-paginator>

<ng-container *ngIf="pageResult && pageResult.totalFilteredRecords === 0">
  <div class="no-results">
    <div class="col1">
      <span class="no-results__title">No Results To Show</span>
      <span class="no-results__note"> Please try other filters</span>
    </div>
    <div class="col2">
      <span class="no-results__image"></span>
    </div>
  </div>
</ng-container>
