<div class="field">
  <div class="field__data">
    <label for="name">Difficulty Level</label>
    <span>{{this.dataToDisplay.difficultyLevel | difficulty}}</span>
  </div>
</div>

<div class="field">
  <div class="field__data">
    <label>Likes</label>
    <span>{{this.dataToDisplay.numOfLikes}} 👍</span>
  </div>
</div>

<div class="field">
  <div class="field__data">
    <label>Creation Date </label>
    <span>{{this.dataToDisplay.createdAt | date}}</span>
  </div>
</div>

<div class="field">
  <div class="field__data">
    <label>Duration </label>
    <span>{{this.dataToDisplay.duration | minuteSeconds}}</span>
  </div>
</div>

<div class="field">
  <label>Exercises</label>
  <div class="field__exercise" *ngFor="let exercise of this.dataToDisplay.exercises">
    <span class="field__pointer">{{exercise.name}}</span>
    <span class="field__exercise__group">{{exercise.muscleGroup.name | uppercase}}</span>
  </div>
</div>

<div class="field">
  <label>Muscle Groups Invloved</label>
  <ng-container *ngFor="let mg of this.dataToDisplay.musclesGroups">
    <span class="field__pointer">{{mg.name}}</span>
  </ng-container>
</div>
