@import "../../../../sass/variables";
@import "../../../../sass/components/entity-info";

@include displayEntityInfo();
.field__exercise {
  display: flex;
  justify-content: space-between;
  &__group {
    color: rgba($dark-navy, 0.75) !important;
  }
}
