@import "../../../../app/sass/variables";
.error {
  font-size: $medium-font !important;
  margin: $large-size $small-size;
  display: block;
  color: $error-label;
  font-style: italic;
  font-weight: bold;
}

// ::ng-deep .ng-invalid.ng-touched {
//   & > .p-buttonset,
//   & > .p-multiselect,
//   & > .p-listbox {
//     border: 1px solid red !important;
//     &:focus {
//       border: 1px solid red !important;
//     }
//   }
//   &.p-inputtext,
//   &.p-inputtextarea {
//     border: 1px solid red !important;
//   }
// }
